# Terraform state files
*.tfstate
*.tfstate.*

# Terraform plan files
*.tfplan

# .terraform directory
.terraform/

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# crash log files
crash.log